{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Contact Us</h1>
<hr>
<div class="row">
<div class="col-sm-6">
<h3>
<strong><i class="fa fa-location-arrow mr-1"></i></strong> Pagaria Complex, Gali Number 2, Pandri, Raipur, Chhattisgarh 492001<br><br>
<strong><i class="fa fa-phone mr-1"></i></strong> 077140 78995<br><br>
<strong><i class="fa fa-fax mr-1"></i></strong> 077140 78995<br><br>
<strong><i class="fa fa-globe mr-1"></i></strong><a href='https://www.matsuniversity.ac.in/'>https://www.matsuniversity.ac.in/</a><br><br>
</h3>
</div>
<div class="col-sm-6">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14873.975788727437!2d81.6468317!3d21.2519067!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x55be6650f8c088e4!2sMATS+University!5e0!3m2!1sen!2sin!4v1560317039074!5m2!1sen!2sin" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
</div>
{% endblock %}
